.profileBody {
    display: flex;
}

.profilePic {
    width: 400px;
    border-radius: 50%;
    padding: 30px;
}

.info {
    min-height: calc(100vh - 86px);
    background-color: #c5a880;
}

.titles {
    margin: 0;
    padding: 10px;
}

.p-text {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.userfeed {
    overflow-y: scroll;
    width: 100vw;
    height: calc(100vh - 86px);
    align-content: center;
    padding-right: 20px;
    padding-left: 20px;
    display: table-column;
    gap: 15px;
}
