.main-body {
    background-color: #c5a880;
    height: 86px;
    width: 100%;
    display: flex;
}

.text {
    margin-left: 10px;
}

.links {
    text-decoration: none;
}

.buttons {
    position: absolute;
    right: 0;
    display: flex;
    margin-top: 4px;
    align-self: center;
    padding: 10px;
    gap: 5px;
}
